<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>head</title>
</head>
<body>
    <h1>head</h1>
    <p>profile: {{uid}}</p>

    {% for i in range(0, 5): %}
    profile: i <br/>
    {% endfor %}

<!--过滤器    -->

{% filter upper %}
{% for color in colors: %}
    {{loop.index}}:  {{color}} <br/>
{% endfor %}
{% endfilter %}

<!--宏的定义-->
{% macro render_color(color) %}
    <div>This is color {{color}}</div><br>{{caller()}}
{% endmacro %}

<!--调用宏    -->
{% for color in colors: %}
{% call render_color(color) %}
    render_color_demo
{% endcall %}
{% endfor %}


</body>
</html>